// ＊＊＊＊＊＊＊＊＊＊
// 共通
// ＊＊＊＊＊＊＊＊＊＊
* {
    margin:0 ;
    padding: 0;
    font-family: Helvetica;
  }

html {
  /* ルートのフォントサイズを10pxに設定しておく */
	font-size: 62.5%;
  }

body {
	/* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
	font-size: 1.6em;
  }

div h2{
	/* 68px */
	font-size: 6.8rem;
  }
div a{
	/* 38px */
	font-size: 3.8rem;
}
// ＊＊＊＊＊＊＊＊＊＊
// span
// ＊＊＊＊＊＊＊＊＊＊

// ＊＊＊＊＊＊＊＊＊＊
// common.blade
// ＊＊＊＊＊＊＊＊＊＊
.top_bar {
  min-width: 100rem;
  background: #005493;
  padding: 3rem 0 3rem 0;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  padding-left: 5%;
  padding-right: 5%;
  .top_bar_brand {
    font-size: 3rem;
    float: left;
  }
  .top_bar_user {
    float: right;
    margin-top: 0.8rem;
    .top_bar_user_name {
      text-align: center;
    }
  }
}
.top_bar::after {
  content: "";
  display: block;
  clear: both;
}
// ＊＊＊＊＊＊＊＊＊＊
// main_blade
// ＊＊＊＊＊＊＊＊＊＊
.main-menu__contents-wrapper {
  min-width: 100rem;
  height: calc(100vh - 108px);
  background-color: black;
  position: relative;
  .main-menu__btns {
    color:black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: calc(50% - (124px/2));
    p {
      margin: 0;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
    }
    .main-menu__shift-create-btn {
      background-color:white;
      width: 30%;
      padding: 3rem 0;
      border-radius: 1rem;
    }
    .main-menu__shift-edit-btn {
      background-color:white;
      width: 30%;
      padding: 3rem 0;
      border-radius: 1rem;
    }
    .main-menu__shift-reference-btn {
      background-color:white;
      width: 30%;
      padding: 3rem 0;
      border-radius: 1rem;
    }
  }
  .main-menu__system-btn {
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 0;
    img {
      width: 10%;
    }
  }
}
// ＊＊＊＊＊＊＊＊＊＊
// saystem_setting
// ＊＊＊＊＊＊＊＊＊＊
.saystem_setting__contents-wrapper {
  min-width: 100rem;
  height: calc(100vh - 108px);
  background-color: black;
  position: relative;
  .saystem_setting__btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: calc(50% - (124px/2));
    p {
      margin: 0;
      text-align: center;
      font-size: 4rem;
      font-weight: 700;
      color: black;
    }
    a:hover{
      text-decoration: none;
    }
    .saystem_setting__company-setting-btn {
      background-color:white;
      width: 30%;
      padding: 3rem 0;
      border-radius: 1rem;
    }
    .ssaystem_setting__btns a:hover {
      color: #C02425;
    }
    .saystem_setting__employee-setting-btn {
      background-color:white;
      width: 30%;
      padding: 3rem 0;
      border-radius: 1rem;
    }
  }
  .saystem_setting__system-btn_wrapper {
    padding: 0 2rem;
    right: 0;
    text-align: center;
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    bottom: 0;
    a {
      color: black;
    }
    a:hover {
      color: whitesmoke;
      text-decoration: none;
    }
  }
}
// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
// saystem_setting__company_setting
// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
.saystem_setting__company_setting__contents_wrapper_wrapper {
  background-color: white;
  .saystem_setting__company_setting__contents_wrapper {
    min-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
    color: #26484D;
    font-size: 30px;
    background-color:silver;
    .saystem_setting__company_setting__h1_title {
      border-bottom: 1px solid #707070;
      color: #0F8E9F;
      font-size: 40px;
    }
    .saystem_setting__company_setting__company_name {
      border-bottom: 1px solid #707070;
    }
    .saystem_setting__company_setting__shift_pattern {
      border-bottom: 1px solid #707070;
    }
    .saystem_setting__company_setting__shift_pattern__inputs {
      padding: 0 10px;
    }
    .saystem_setting__company_setting__shift_pattern__oneday_maximum_continuous_shift {
      border-bottom: 1px solid #707070;
      padding: 10px 0;
    }
  }
}
